extends ./layouts/_main


block content
  .preloader
    .status-1
    .status-2
    
  include ./partials/_welcome
  
  .is-hidden.preloadbles.scrollables
    include ./partials/_fuchsbau
    //- include ./partials/_greeting
    include ./partials/_person
    include ./partials/_store
    //- include ./partials/_products
    include ./partials/_geo
  
  include ./partials/_footer
