section.page.page-business-hours
  header
    em.headline-preview besuchen sie uns
    
  dl.def-list
    dt Montag
    dd geschlossen
    dt Dienstag
    dd geschlossen
    dt Mittwoch
    dd 10.00h - 18.30h
    dt Donnerstag
    dd 10.00h - 18.30h
    dt Freitag
    dd 10.00h - 18.30h
    dt Samstag
    dd 9.00h - 16.00h
  
