section#fuchsbau.page.page-fuchsbau
  .graphics-wrapper
    header
      em.headline-preview Das Konzept
      h1 Fuchsbau
    
    p
      | Der Fuchsbau lebt vom kreativen Austausch in der Gemeinschaft. Also lass Dich inspirieren in der Kreativschmiede in Issum.
      | Für Anmeldungen, Terminabsprachen und Informationen stehe ich gerne zur Verfügung.
      | <br>
      | Telefon: <a class="highlight" href="tel:+4928354481131">02835 - 44 811 31</a>
      | <br>
      | Email:
      | <script type="text/javascript">var pref     = "&#109;a" + "i&#108;" + "&#116;o:";
      | var attr     = "hr" + "ef" + "=";
      | var atV1     = "%40";
      | var atV2     = "&#x40;";
      | var aliasV1  = "&#105;&#110;&#102;&#111;";
      | var aliasV2  = "&#x69;&#x6e;&#x66;&#x6f;";
      | var domainV1 = "&#102;&#117;&#99;&#104;&#115;&#98;&#97;&#117;&#45;&#105;&#115;&#115;&#117;&#109;&#46;&#100;&#101;";
      | var domainV2 = "&#x66;&#x75;&#x63;&#x68;&#x73;&#x62;&#x61;&#x75;&#x2d;&#x69;&#x73;&#x73;&#x75;&#x6d;&#x2e;&#x64;&#x65;";
      | document.write("<a class='highlight' "+attr+"\""+pref+aliasV1+atV1+domainV1+"\">");
      | document.write(aliasV2+atV2+domainV2);
      | document.write("<\/a>");
      | </script>
      | <noscript><span style="display:none;">-mfG0815</span>&#105;&#110;&#102;&#111;<span style="display:none;">-qwr2342</span> [&#97;&#116;] <span style="display:none;">-hfg3453</span>&#x66;&#x75;&#x63;&#x68;&#x73;&#x62;&#x61;&#x75;&#x2d;&#x69;&#x73;&#x73;&#x75;&#x6d;&#x2e;&#x64;&#x65;<span style="display:none;">-tdg6435</span></noscript>      

    p
      | Ich freu mich auf Euch!
      | <br>
      | <strong>Anna Süselbeck</strong>


  .graphics-layer
    
article.page.page-article.article-decoration
  .picture(data-src="/images/gallery/topics/store.jpg")
  .article-body
    h1 Deko- und Wohnaccesoires
    p Im Fuchsbau kann man nach Herzenslust stöbern und sich in die Welt der Kreativität entführen lassen.
    p Meine Produkte finde ich bei ausgewählten Händlern wie der Grafik Werkstatt Bielefeld, TAJ Wood &amp; Scherer, Scheulen, House of Emotions, G.Wurm, Mama Afrika Spiritwork und den Troxler Werkstätten Wuppertal.

article.page.page-article.article-print
  .picture(data-src="/images/gallery/topics/2.jpg")
  .article-body
    h1 Textildruck
    
    h2 Flexdruck
    p.pullquote Das Motiv wird beim Flexdruck aus farbigen Folien ausgeschnitten und unter Hitze auf den gewünschten Untergrund aufgebracht. Hier können bis zu drei Farben kombiniert werden. Die Flexfolien lassen sich sauber verarbeiten und haben dadurch eine hohe Farbbrillianz und bieten einen starken Kontrast zum Untergrund. Im Flexbereich gibt es auf Wunsch auch Sonderfarben und Spezialfolien. Von Neon, Mellalic bis hin zur Strukturfolien ist vieles möglich.
    
    //- h2 Flockdruck
    //- p.pullquote Der Flockdruck unterscheidet sich zum Flexdruckverfahren lediglich durch seine samtige & stoffartige Oberfläche. Der Druck ist wesentlich dicker und hebt sich optisch wie auch haptisch vom Untergrund ab.

article.page.page-article.article-foil
  .picture(data-src="/images/gallery/topics/werbetechnik.jpg")
  .article-body
    h1 Foliendesign
    p Kreative und individuelle Foliengestaltung für jeden Anlass.

  ul.styled-list
    li Wandtattoos für den Wohnraum
    li Aufkleber für's Handy oder den Laptop
    li Autobeschriftungen
    li Schaufensterbeschriftungen für Firmen
    li Aufkleber für individuelle Objekte und Untergründe wie z.B. Fußböden, Zimmertüren, Briefkästen, Wandfliesen und Mülleimer
    li Glasdekorfolie ( Sichtschutz usw.)
    li Digitaldrucke auf Folie zb. Fotos (mit Schutzlaminat möglich)

article.page.page-article.article-graphics
  .picture(data-src="/images/gallery/topics/grafikdesign.jpg")
  .article-body
    h1 Grafikdesign
    p Von der geschäftlichen Visitenkarte bis zur ausgefallenen Einladungskarte ist jede Gestaltung möglich.
    
    ul.styled-list
      li Logoentwicklung
      li Coperate Identity, Komplette Designgestaltung einer Firma
      li Geschäftspapiere wie Visitenkarten, Briefbögen, Gutscheine...
      li Flyer für Veranstaltungen, Party ́s, Werbeaktionen...
      li Einladungen für Hochzeiten, Geburtstage...
      li Fahrzeuggestaltung
//- 
//- article.page.page-article.article-renting
//-   .picture(data-src="/images/gallery/topics/rent-a-square.svg")
//-   .article-body
//-     h1 Miete ein Quadrat
//-     p Klasse statt Masse. Ob Anfänger, Amateure oder Profidesigner, alle, die mit viel Liebe und Hingabe handgemachte Produkte herstellen, haben die Möglichkeit eine Präsentationsfläche zu mieten.
//-     p Egal ob klein oder groß wir finden für Dich und Dein Produkt die geeignete Fläche. Gegen eine monatliche Mietgebühr kann Deine Kreation im Fuchsbau präsentiert und verkauft werden.
//-     
//-     
article.page.page-article.article-courses
  .picture(data-src="/images/gallery/topics/3.jpg")
  .article-body
    h1 Kreativeschmiede Fuchsbau
    p Alle Kinder, die malen, designen, zeichnen, werken und bauen möchten sind im Fuchsbau Issum genau richtig. Aktuelle Kursangebote werden bei Facebook sowie als Aushang im Fuchsbau rechtzeitig bekannt gegeben.
