section#geo.page.page-geo
  header
    em.headline-preview Kontakt
    h1 Rein kommen, raus schauen.
  
  #map
    
  address
    ul
      li
        span.flaticon-call2
          a.highlight(href="tel:+4928354481131") 02835 - 44 811 31
      li
        span.flaticon-locator Neustr. 2-4, 47661 Issum
      li
        span.flaticon-arroba
          | <script>
          | var attr     = "hr" + "ef" + "=";
          | var atV1     = "%40";
          | var atV2     = "&#x40;";
          | var aliasV1  = "&#105;&#110;&#102;&#111;";
          | var aliasV2  = "&#x69;&#x6e;&#x66;&#x6f;";
          | var domainV1 = "&#102;&#117;&#99;&#104;&#115;&#98;&#97;&#117;&#45;&#105;&#115;&#115;&#117;&#109;&#46;&#100;&#101;";
          | var domainV2 = "&#x66;&#x75;&#x63;&#x68;&#x73;&#x62;&#x61;&#x75;&#x2d;&#x69;&#x73;&#x73;&#x75;&#x6d;&#x2e;&#x64;&#x65;";
          | document.write("<a class='' "+attr+"\""+pref+aliasV1+atV1+domainV1+"\">");
          | document.write(aliasV2+atV2+domainV2);
          | document.write("<\/a>");
          | </script>
          | <noscript><span style="display:none;">-mfG0815</span>&#105;&#110;&#102;&#111;<span style="display:none;">-qwr2342</span> [&#97;&#116;] <span style="display:none;">-hfg3453</span>&#x66;&#x75;&#x63;&#x68;&#x73;&#x62;&#x61;&#x75;&#x2d;&#x69;&#x73;&#x73;&#x75;&#x6d;&#x2e;&#x64;&#x65;<span style="display:none;">-tdg6435</span></noscript>
          
  .layer
