section.page.page-greeting
  header
    em.headline-preview kreativschmiede
  
  a.download_link(href="/images/Kreativkurs_Flyer.pdf" target="_blank")  
    img.flyer(src="/images/Kreativkurs_Flyer.jpg")
  
  a.download_link(href="/images/Kreativkurs_Flyer.pdf" target="_blank") Kursprogramm
    
    
  //- .layer
