section.page.page-person
  .profile-container
    .picture-container
      //- .profile-pic
      img.profile-img(src="/images/anna-bw-2.jpg")
      
    
    .profile-description
      
      h1 Anna Sueselbeck, Dipl.-Des.
      p.multi-column
        | <strong>Es war einmal ein Mädchen....das nichts mehr liebte als die Kreativität.</strong>
        | <br>
        | <br>
        | Und das hat sich bis Heute nicht geändert. Nach meiner schulischen Ausbildung zur Gestaltungstechnischen Assistentin im Bereich Grafik habe ich 2012 erfolgreich mein Diplom zur Produktdesignerin absolviert. Neben Ausbildung und Studium habe ich zehn Jahre in der Werbetechnik gearbeitet. Mein Herz schlägt für individuelle Designlösungen, ungewöhnliche Materialkombinationen und soziale Kreativität. Zwei Jahre durfte ich im Sozialen Dienst in einem Seniorenheim arbeiten. Dort habe ich neben Kochkursen und Einzelbetreuungen auch Kreative Kurse angeboten. In dieser Zeit habe ich gelernt wie schön auch das kreative Miteinander sein kann.
        | <br>
        | <br>
        | Der Fuchs schlummert schon lange in mir, jetzt hat er seinen Bau gefunden um seiner Kreativität freien Lauf zu lassen.
        
  .layer
