//- s<section class="page page-products" id="products">
//-   <header id="products-top">
//-     <em class="headline-preview">produktdesign</em>
//-     <h1>Professionelles Gestalten.</h1>
//-   </header>
//- 
//-   <div class="gallery-details">
//-     <div class="gallery-details-content">
//-       <button class="close">Close</button>
//-       <div class="image-container"></div>
//-       <div class="caption"></div>
//-     </div>
//-   </div>
//-   <section class="gallery">
//-     <a class="picture" data-src="/images/gallery/products/foto-patches-1.jpg" href="#products-top">
//-       <div class="caption">
//-         <h3>Duschvorhang Patchwork</h3>
//-         <p>
//-           Der erste Teil der Patchwork Produktserie ist ein maschinengenähter Duschvorhang aus Fotografie Patchwork mit Bildern aus Mode und Popkultur.
//-         </p>
//-         <ul class="labels">
//-           <li>Fotografie</li>
//-           <li>Patchwork</li>
//-           <li>Dekoration</li>
//-         </ul>
//-       </div>
//-       <div class="layer"></div>
//-     </a>
//- 
//-     <a class="picture" data-src="/images/gallery/products/foto-patches-2.jpg" href="#products-top">
//-       <div class="caption">
//-         <h3>Einkaufstasche Patchwork</h3>
//-         <p>Teil 2 der Patchwork Nähkunst ist eine trendige Schultertasche passend zur Popkultur- und Modeserie.</p>
//-         <p>Mit Ansätzen aus "form follows function" wird hier das klassische Einkaufstaschendesign genutzt um den Blick auf die
//-           farblich abgestimmten Motive zu lenken.</p>
//-         <ul class="labels">
//-           <li>Fotografie</li>
//-           <li>Patchwork</li>
//-           <li>Dekoration</li>
//-         </ul>
//-       </div>
//-       <div class="layer"></div>
//-     </a>
//- 
//-     <a class="picture" data-src="/images/gallery/products/bowl-1.jpg" href="#products-top">
//-       <div class="caption">
//-         <h3>Schale</h3>
//-         <p>Aus Keramik geformtes, modernes Schalenkonzept.</p>
//-         <ul class="labels">
//-           <li>Keramik</li>
//-           <li>Dekoration</li>
//-         </ul>
//-       </div>
//-       <div class="layer"></div>
//-     </a>
//- 
//-     <a class="picture" data-src="/images/gallery/products/bowl-2.jpg" href="#products-top">
//-       <div class="caption">
//-         <h3>Schale</h3>
//-         <p>Durch die erhabenen Aussparungen ist das Konzept zum Beispiel sehr geeignet als Obstschale oder Grundlage für gestalterische Tischdekoration.</p>
//-         <ul class="labels">
//-           <li>Keramik</li>
//-           <li>Dekoration</li>
//-         </ul>
//-       </div>
//-       <div class="layer"></div>
//-     </a>
//- 
//-     <a class="picture" data-src="/images/gallery/products/bowl-4.jpg" href="#products-top">
//-       <div class="caption">
//-         <h3>Lampe</h3>
//-         <p>Leuchte passend zur Serie der Keramikschale, die ein weiches Lichtkonzept bietet, das durch die indirekte Beleuchtung gestützt wird, die aus den Aussparungen dringt.</p>
//-         <ul class="labels">
//-           <li>Keramik</li>
//-           <li>Dekoration</li>
//-           <li>Lichtgestaltung</li>
//-         </ul>
//-       </div>
//-       <div class="layer"></div>
//-     </a>
//- 
//-     <a class="picture" data-src="/images/gallery/products/vase-1.jpg" href="#products-top">
//-       <div class="caption">
//-         <h3>Vase</h3>
//-         <p><%= lorem.paragraph %></p>
//-         <ul class="labels">
//-           <li>Keramik</li>
//-           <li>Dekoration</li>
//-         </ul>
//-       </div>
//-       <div class="layer"></div>
//-     </a>
//- 
//-     <a class="picture" data-src="/images/gallery/products/vase-2.jpg" href="#products-top">
//-       <div class="caption">
//-         <h3>Vase</h3>
//-         <p><%= lorem.paragraph %></p>
//-         <ul class="labels">
//-           <li>Keramik</li>
//-           <li>Dekoration</li>
//-         </ul>
//-       </div>
//-       <div class="layer"></div>
//-     </a>
//- 
//-     <a class="picture" data-src="/images/gallery/products/vase-3.jpg" href="#products-top">
//-       <div class="caption">
//-         <h3>Vase</h3>
//-         <p><%= lorem.paragraph %></p>
//-         <ul class="labels">
//-           <li>Keramik</li>
//-           <li>Dekoration</li>
//-         </ul>
//-       </div>
//-       <div class="layer"></div>
//-     </a>
//-   </section>
//- </section>
