section#store.page.page-store
  header
    em.headline-preview ladenlokal
    h1 Kreatives Entdecken.

  p
    | Im Fuchsbau kann man nach Herzenslust stöbern und sich in die Welt der Kreativität entführen lassen.
    | Meine Produkte finde ich bei ausgewählten Händlern wie der
    | <a href="https://shop.gwbi.de/">Grafik Werkstatt Bielefeld</a>,
    | <a href="http://www.das-tropenhaus.de/Taj-Wood-Scherer_1?gclid=CMnV9obn_r8CFYofwwodSx8AoA">TAJ Wood &amp; Scherer</a>,
    | <a href="http://www.house-of-emotions.de/">House of Emotions</a>,
    | <a href="http://www.mamaafrika.de/">Mama Afrika Spiritwork</a>
    | und den
    | <a href="http://www.troxler-werkstaetten.de/">Troxler Werkstätten Wuppertal</a>.    
    
  .store-images
    .store-image
      .image-frame
        .store-1.picture(data-src="/images/store/full-view-1.jpg")
    .store-image
      .image-frame
        .store-2.picture(data-src="/images/store/funny-things.jpg")
    .store-image
      .image-frame
        .store-3.picture(data-src="/images/store/chameleon.jpg")
  p Aber auch Handgemachtes findet hier seinen Platz. Liebevoll genähte Taschen und Decken bis zu hochwertig verarbeitetem Schmuck zieren die Regale. Auch besondere Schätzchen aus alten Tagen finden einen Platz im Fuchsbau. Durch diese bunte Produktvielfalt können Sie bei jedem Besuch etwas Neues entdecken.
