section#welcome-page.page.page-welcome(data-stellar-background-ratio="0.3")
  header.centralized.logo-teaser
    h1.brand Fuchsbau
    img.brand-logo(src='/images/logofox.svg')
  
  nav.meta-navigation.static
    .small-logo-positioning
      a.svg-fix-small-fox(href="#welcome-page")
        img.meta-brand-logo(src="/images/logofox-small.svg")
        span.label Nach oben
    
    ul.link-section
      li
        a.anchor-link.flaticon-heart38.with-tooltip(href="#fuchsbau")
          span.label Fuchsbau
      li
        a.anchor-link.flaticon-bakery.with-tooltip(href="#store")
          span.label Laden
      //-       <!-- <li><a href="" class="anchor-link flaticon-contact2"><span>Foliendesign &amp; Werbetechnik</span></a></li> -->
      //-       <!-- <li><a href="#products" class="anchor-link flaticon-origami with-tooltip"><span class="label">Produktdesign</span></a></li> -->
      li
        a.anchor-link.flaticon-locator.with-tooltip(href="#geo")
          span.label Anfahrt
      //-       <!-- <li>
      //-         <a href="http://de.dawanda.com" class="anchor-link flaticon-heart38 dawanda with-tooltip">
      //-           <span class="label">
      //-             <%= image_tag 'dawanda-small.png', class: 'small' %>
      //-             <%= image_tag 'dawanda.png', class: 'big' %>
      //-           </span>
      //-         </a>
      //-       </li> -->
      //-       <!-- <li><a href="" class="anchor-link flaticon-paint12"><span>Kurse</span></a></li> -->
      li
        a.anchor-link.flaticon-.with-tooltip(href="#")
          span.label 
      li
        a.anchor-link.flaticon-.with-tooltip(href="#")
          span.label 
    a.disclaimer-toggle-all.anchor-link(href="#footer") Impressum
